table,
th,
td {
  border: 1px solid;
  border-collapse: collapse;
}

table {
  width: 100%;
  margin-top: 8px;
  //   max-width: 1000px;
  //   margin: auto;
}

tr:nth-child(even) {
  background-color: #f7f7f7;

  td:first-child {
    background-color: #e8edf3;
  }
}

tr:nth-child(odd) {
  background-color: white;
  td:first-child {
    background-color: #edf2f8;
  }
}
th {
  padding: 2px;
  font-size: 14px;
}

td {
  padding: 0px 6px 0px 6px;
}

.checkbox-col {
  width: 40px;
}

.checkbox-cell {
  text-align: center;
  padding: 0px 10px 0px 10px;
}

.input {
  width: 100%;
}

// .completed-cell {
//   //   padding-left: 15px;
//   //   padding-right: 15px;
//   width: 100px;
// }

.description-cell {
  max-width: 250px;
  word-wrap: break-word;
  line-height: 25px;
}

.edit-description-cell {
  padding-top: 6px;
}

.show-description-button {
  background-color: transparent;
  border: none;
  font-size: 22px;
  color: #0075ff;
  color: #002855;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.description-textarea {
  min-width: 250px;
  width: 100%;
}

.edit-cell,
.remove-cell {
  text-align: center;
}

.action-button {
  //   background-color: rgb(42, 119, 182);

  border: none;
  border-radius: 5px;
  padding: 8px;
  font-size: 14px;
  font-weight: 600;
  text-decoration: underline;
  color: rgb(42, 119, 182);
  background-color: transparent;
  cursor: pointer;
}

.priority {
  padding: 6px;
  font-weight: 600;
  font-size: 14px;
  border-radius: 5px;
}

.high-priority {
  // background-color: rgb(255, 161, 161);
  // color: rgb(177, 8, 31);  darker font
  color: rgb(216, 12, 39);
}
.moderate-priority {
  // background-color: rgb(255, 255, 161);
  // color: rgb(151, 136, 0);  darker font
  color: rgb(207, 188, 10);
}
.low-priority {
  // background-color: rgb(161, 255, 177);
  // color: rgb(6, 155, 56);  darker font
  color: rgb(9, 211, 76);
}

.no-items-cell {
  text-align: center;
}
