Sort By:
<select [(ngModel)]="sortedBy" (ngModelChange)="handleSortMethodChange($event)">
  <option></option>
  <option value="HighToLow">Priority: high to low</option>
  <option value="LowToHigh">Priority: low to high</option>
  <option value="DateAdded">Date added</option>
</select>
<table>
  <thead>
    <tr>
      <th class="checkbox-col"></th>
      <th>Task</th>
      <th>Description</th>
      <th>Priority</th>
      <th>Date Added</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let task of tasks; index as i">
      <td class="checkbox-cell">
        <input
          *ngIf="task !== taskToEdit"
          type="checkbox"
          [checked]="task.completed"
          (change)="handleFlip(task)"
        />
      </td>
      <td>
        <span *ngIf="task !== taskToEdit">{{ task.name | truncate }}</span>
        <input
          *ngIf="task === taskToEdit"
          class="input"
          placeholder="Name"
          [(ngModel)]="editedName"
        />
      </td>
      <td
        [ngClass]="
          task === taskToEdit ? 'edit-description-cell' : 'description-cell'
        "
      >
        <span
          *ngIf="
            task !== taskToEdit && isShowingFullDescription(task) === false
          "
          >{{ task.description | truncate
          }}<button
            class="show-description-button"
            (click)="handleFullDescriptionClick(task)"
            *ngIf="task.description.length > 40"
          >
            &#9662;
          </button></span
        >
        <span
          *ngIf="task !== taskToEdit && isShowingFullDescription(task) === true"
          >{{ task.description
          }}<button
            class="show-description-button"
            (click)="handleFullDescriptionClick(task)"
          >
            &#9652;
          </button></span
        >
        <textarea
          *ngIf="task === taskToEdit"
          class="description-textarea"
          placeholder="Description"
          [(ngModel)]="editedDescription"
        ></textarea>
      </td>
      <td>
        <span
          *ngIf="task !== taskToEdit"
          [ngClass]="task.priority.toLowerCase() + '-priority priority'"
          >{{ task.priority }}</span
        >
        <select *ngIf="task === taskToEdit" [(ngModel)]="editedPriority">
          <option value="Low">Low</option>
          <option value="Moderate">Moderate</option>
          <option value="High">High</option>
        </select>
      </td>
      <td *ngIf="task !== taskToEdit">{{ formatDate(task.dateAdded) }}</td>
      <td *ngIf="task !== taskToEdit" class="edit-cell">
        <button class="action-button" (click)="handleEditClick(task)">
          Edit
        </button>
      </td>
      <td *ngIf="task !== taskToEdit" class="move-lists-cell">
        <button
          *ngIf="task.backLogged"
          class="action-button"
          (click)="handleListSwap(task)"
        >
          Move to current
        </button>
        <button
          *ngIf="!task.backLogged"
          class="action-button"
          (click)="handleListSwap(task)"
        >
          Move to backlog
        </button>
      </td>
      <td *ngIf="task !== taskToEdit" class="remove-cell">
        <button class="action-button" (click)="removeTask(task.id!)">
          Remove
        </button>
      </td>
      <td *ngIf="task === taskToEdit" class="submit-edit edit-cell" colspan="2">
        <button class="action-button" (click)="handleSubmitEditClick(task)">
          Submit
        </button>
      </td>
      <td *ngIf="task === taskToEdit" class="cancel-edit edit-cell" colspan="2">
        <button class="action-button" (click)="cancelEdit()">Cancel</button>
      </td>
    </tr>
    <!-- ============================================= -->
    <!-- Add Row Starts -->
    <!-- ============================================= -->
    <tr *ngIf="isAdding">
      <td class="checkbox-cell"></td>
      <td>
        <input
          class="input"
          placeholder="Name"
          [(ngModel)]="newTaskNameInputValue"
          (ngModelChange)="handleNewTaskNameChange($event)"
        />
      </td>
      <td class="edit-description-cell">
        <textarea
          class="description-textarea"
          placeholder="Description"
          [(ngModel)]="newTaskDescriptionInputValue"
          (ngModelChange)="handleNewTaskDescription($event)"
        ></textarea>
      </td>
      <td>
        <select
          [(ngModel)]="newTaskSelectedPriority"
          (ngModelChange)="handleNewSelectedPriorityChange($event)"
        >
          <option value="Low">Low</option>
          <option value="Moderate">Moderate</option>
          <option value="High">High</option>
        </select>
      </td>
      <td class="edit-cell" colspan="2">
        <button class="action-button" (click)="confirmTaskAddition()">
          Confirm
        </button>
      </td>
      <td class="edit-cell" colspan="2">
        <button class="action-button" (click)="cancelTaskAddition()">
          Cancel
        </button>
      </td>
    </tr>
    <!-- ============================================= -->
    <!-- Add Row Starts -->
    <!-- ============================================= -->
    <tr *ngIf="tasks.length <= 0">
      <td
        class="no-items-cell"
        colspan="7
      "
      >
        No items
      </td>
    </tr>
  </tbody>
</table>
