.container {
  margin: auto;
  width: 75%;
  max-width: 1000px;
}

.new-note {
  width: fit-content;
  margin: auto;
  margin-top: 10px;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .container {
    width: 85%;
  }
}

@media (max-width: 1050px) {
  .container {
    width: 95%;
  }
}
