.file-icon {
  width: 20px;
}

.trash-icon {
  width: 20px;
}

.container {
  padding-top: 20px;
}

.search-container {
  margin-bottom: 6px;
}
.search-input {
  height: 24px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  padding: 2px 0px 2px 0px;
}
table {
  border-collapse: collapse;
  //   border: 1px solid;
  width: 100%;
  font-size: 16px;
}

tr {
  cursor: pointer;
}

tr:hover {
  .arrow {
    visibility: visible;
  }
}

tr:nth-child(odd) {
  background-color: #ffffff;
}

tr:nth-child(even) {
  background-color: #f7f7f7;
}

th {
  text-align: left;
  text-wrap: nowrap;
}

td {
  padding: 0;
  margin: 0;
}

.thead-row {
  background-color: #f7f7f7 !important;
  cursor: auto;
}

.name-header {
  width: 150px;
}

.date-header {
  padding-right: 20px;
}

.delete-header {
  width: 150px;
}

.arrow-cell {
  text-align: right;
  width: 100px;
}
.arrow {
  visibility: hidden;
  color: #bebebe;
  text-align: right;
  padding: 0px 8px 0px 24px;
}

.note-icon-cell {
  width: 26px;
}

.note-name-cell {
  color: blue;
  text-decoration: underline;
  padding-right: 10px;
}

.note-date-added {
  color: #9c9c9c;
}

.button {
  border: none;
  cursor: pointer;
  color: white;
  font-size: 14px;
  padding: 6px;
  margin: 6px 6px 6px 0px;
}

.button:hover {
  border: none;
  cursor: pointer;
}

.confirm-button {
  background-color: rgb(42, 119, 182);
  margin-right: 6px;
}

.confirm-button:hover {
  background-color: rgb(50, 138, 211);
}

.cancel-button {
  background-color: rgb(182, 42, 42);
}

.cancel-button:hover {
  background-color: rgb(211, 50, 50);
}

.name-input {
  height: 24px;
  width: 100%;
}

.actions-cell {
  padding-left: 10px;
}
