.container {
  margin: auto;
  width: 75%;
  max-width: 1000px;
}

.label {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 8px;
}
.current-user-label {
  margin: 10px 0px 10px 0px;
}

.button-container {
  width: 100%;
  margin-top: 24px;
}

.daily-todo {
  margin: auto;
  padding-bottom: 20px;
  margin-bottom: 50px;
  overflow-x: auto;
}

.task-backlog {
  margin: auto;
  padding-bottom: 20px;
  overflow-x: auto;
}

.to-do-container {
  //   display: flex;
  //   flex-direction: column;
  //   gap: 50px;
}

.daily-todo-container {
}

@media (max-width: 1200px) {
  .container {
    width: 85%;
  }
}

@media (max-width: 1050px) {
  .container {
    width: 95%;
  }
}
