.container {
  margin: auto;
  width: 75%;
}
.button-container {
  width: 100%;
  margin-top: 24px;
}

.daily-todo {
  margin: auto;
  padding-bottom: 50px;
}

.to-do-container {
  //   display: flex;
  //   flex-direction: column;
  //   gap: 50px;
}

.daily-todo-container {
}
