<div class="container">
  <div *ngIf="loggedInUser">{{ loggedInUser.firstName }}</div>
  Current To DO
  <div class="daily-todo">
    <app-task-list
      [tasks]="dailyTasks"
      [isAdding]="isAddingDailyTask"
      (newTaskNameEmitter)="setNewTaskName($event)"
      (newTaskDescriptionEmitter)="setNewTaskDescription($event)"
      (newTaskPriorityEmitter)="setNewTaskPriority($event)"
      (submitTaskCreation)="createTask(false)"
      (cancelTaskCreation)="cancelTask()"
      (removeTaskEmitter)="deleteTask($event)"
    ></app-task-list>
    <div class="button-container">
      <app-button
        label="Add an item"
        (clicked)="addDailyTask()"
        [isDisabled]="areButtonsDisabled"
      ></app-button>
    </div>
  </div>
  Back Log
  <div class="task-backlog">
    <app-task-list
      [isAdding]="isAddingBacklogTask"
      [tasks]="backLoggedTasks"
      (newTaskNameEmitter)="setNewTaskName($event)"
      (newTaskDescriptionEmitter)="setNewTaskDescription($event)"
      (newTaskPriorityEmitter)="setNewTaskPriority($event)"
      (submitTaskCreation)="createTask(true)"
      (cancelTaskCreation)="cancelTask()"
    ></app-task-list>
    <div class="button-container">
      <app-button
        label="Add an item"
        (clicked)="addBacklogTask()"
        [isDisabled]="areButtonsDisabled"
      ></app-button>
    </div>
  </div>
</div>
